.checkbox {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  border-radius: 3px;

  svg {
    width: 12px;
    height: 12px;
    display: block;
  }
}
