area {
  cursor: default;
}

area.leaf {
  cursor: help;
}
area.closed {
  cursor: zoom-in;
}
area.expanded {
  cursor: zoom-out;
}

div.shiftKey area.leaf {
  cursor: zoom-in;
  /*clear_day_24dp_FILL0_wght200_GRAD0_opsz24.svg*/
  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNWY2MzY4Ij48cGF0aCBkPSJNNDYwLTc0My4wOHYtMTM1LjM4aDQwdjEzNS4zOGgtNDBabTIxOS44NSA5MS41NC0yNy4zMS0yNy4zMSA5NC4zMS05OC4wNyAyOS4wNyAyOS4zLTk2LjA3IDk2LjA4Wk03NDMuMDgtNDYwdi00MGgxMzUuMzh2NDBINzQzLjA4Wk00NjAtODEuNTR2LTEzNC42MWg0MHYxMzQuNjFoLTQwWk0yODEuNjktNjUyLjc3bC05OC42MS05NC4wOCAzMC4wNy0yOC4zIDk2LjA4IDk1LjMtMjcuNTQgMjcuMDhabTQ2NC45MyA0NjkuNjktOTQuMDgtOTguMDcgMjcuMDgtMjYuMzEgOTUuNTMgOTMuODQtMjguNTMgMzAuNTRaTTgxLjU0LTQ2MHYtNDBoMTM1LjM4djQwSDgxLjU0Wm0xMzAuODQgMjc2LjkyLTI3LjUzLTMwLjA3IDk0LjMtOTQuMzEgMTQuMzkgMTMuOTIgMTUuMTUgMTQuMTYtOTYuMzEgOTYuM1pNNDgwLjE4LTI4MHEtODMuMjYgMC0xNDEuNzItNTguMjhRMjgwLTM5Ni41NiAyODAtNDc5LjgycTAtODMuMjYgNTguMjgtMTQxLjcyUTM5Ni41Ni02ODAgNDc5LjgyLTY4MHE4My4yNiAwIDE0MS43MiA1OC4yOFE2ODAtNTYzLjQ0IDY4MC00ODAuMThxMCA4My4yNi01OC4yOCAxNDEuNzJRNTYzLjQ0LTI4MCA0ODAuMTgtMjgwWm0tLjE4LTQwcTY2IDAgMTEzLTQ3dDQ3LTExM3EwLTY2LTQ3LTExM3QtMTEzLTQ3cS02NiAwLTExMyA0N3QtNDcgMTEzcTAgNjYgNDcgMTEzdDExMyA0N1ptMC0xNjBaIi8+PC9zdmc+), pointer;
}
div.ctrlKey area.leaf {
  cursor: zoom-out;
  /*cancel_24dp_FILL0_wght200_GRAD0_opsz24.svg*/
  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNWY2MzY4Ij48cGF0aCBkPSJtMzM2LTMwNy42OSAxNDQtMTQ0IDE0NCAxNDRMNjUyLjMxLTMzNmwtMTQ0LTE0NCAxNDQtMTQ0TDYyNC02NTIuMzFsLTE0NCAxNDQtMTQ0LTE0NEwzMDcuNjktNjI0bDE0NCAxNDQtMTQ0IDE0NEwzMzYtMzA3LjY5Wk00ODAuMTMtMTIwcS03NC42NyAwLTE0MC40MS0yOC4zNC02NS43My0yOC4zNC0xMTQuMzYtNzYuOTItNDguNjMtNDguNTgtNzYuOTktMTE0LjI2UTEyMC00MDUuMTkgMTIwLTQ3OS44N3EwLTc0LjY3IDI4LjM0LTE0MC40MSAyOC4zNC02NS43MyA3Ni45Mi0xMTQuMzYgNDguNTgtNDguNjMgMTE0LjI2LTc2Ljk5UTQwNS4xOS04NDAgNDc5Ljg3LTg0MHE3NC42NyAwIDE0MC40MSAyOC4zNCA2NS43MyAyOC4zNCAxMTQuMzYgNzYuOTIgNDguNjMgNDguNTggNzYuOTkgMTE0LjI2UTg0MC01NTQuODEgODQwLTQ4MC4xM3EwIDc0LjY3LTI4LjM0IDE0MC40MS0yOC4zNCA2NS43My03Ni45MiAxMTQuMzYtNDguNTggNDguNjMtMTE0LjI2IDc2Ljk5UTU1NC44MS0xMjAgNDgwLjEzLTEyMFptLS4xMy00MHExMzQgMCAyMjctOTN0OTMtMjI3cTAtMTM0LTkzLTIyN3QtMjI3LTkzcS0xMzQgMC0yMjcgOTN0LTkzIDIyN3EwIDEzNCA5MyAyMjd0MjI3IDkzWm0wLTMyMFoiLz48L3N2Zz4=), pointer;
}
