body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  /*max-width: 38rem;*/
  padding: 0.5rem;
  box-sizing: border-box;
}

html, body, #renderer {
  width: 100%;
  height: 100%;
}
