body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
}

body, body * {
  box-sizing: border-box;
}

html, body, #renderer {
  width: 100%;
  height: 100%;
}

.fixed {
  font-family: Consolas;
}

p, details, h2, h3, h4, table {
  /* line-height is 1.5 em */
  margin-bottom: 0.75em;
}

h4 {
  text-decoration: underline;
  font-weight: normal;
  font-style: italic;
  font-size: 1.17em;
}

details[open] {
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  padding: 0 0.5em 0.5em 0.5em;
}

summary {
  margin-bottom: 0.25em;
}

summary::marker {
  color: green;
}

p:first-child, legend + p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

input {
  vertical-align: middle;
  margin-right: 0.5em;
}

pre {
  white-space: pre-wrap;
}