pre.methodBody {
  tab-size: 4; 
}
.methodDetails + .methodDetails,
.errorDetails + .errorDetails {
  border-top: 1px solid black;
}
.methodDetails pre {
  white-space: pre-wrap;
}
.methodDetails caption {
  caption-side: top;
}