/*
  The 3 panes are id #group, #graph, and #types
  Their parents divs have class .react-split__pane
  Don't apply styles e.g. padding to .react-split__pane
*/

#group, #graph, #types {
  overflow: auto;
}

#graph {
  justify-content: center
}

#group, #types {
  justify-content: left
}

.pane-resizes {
  width: max-content;
}

.zoom {
  bottom: 0.25rem;
  right: 0.5rem;
  position: absolute;
  z-index: 2;
  font-size: 1rem;
}

.react-split__pane > * {
  padding: 0.5rem;
  height: 100%;
  align-items: center;
}

.react-split {
  /* without this, the 2px sash will overflow and cause a horizontal scrollbar when the right pane width is zero */
  padding-right: 2px;
  width: calc(100% - 2px);
}