/*
  The 3 panes are id #group, #graph, and #types
  Their parents divs have class .react-split__pane
  Don't apply styles e.g. padding to .react-split__pane
*/

#group, #graph, #types {
  overflow: auto;
}

#graph {
  justify-content: center
}

#group, #types {
  justify-content: left
}

.pane-resizes {
  width: max-content;
  position: relative;
  min-height: 100%;
}

.bottom {
  margin-top: auto;
}

.pane-resizes, #graph, #textView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#graph > .zoom {
  width: 100%;
}

.zoom {
  font-size: 1rem;
  text-align: right;
}

.react-split__pane > * {
  padding: 0.5rem;
  height: 100%;
  align-items: center;
}

.react-split {
  /* without this, the 2px sash will overflow and cause a horizontal scrollbar when the right pane width is zero */
  padding-right: 2px;
  width: calc(100% - 2px);
}